<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <br>
    <a href="https://www.linkedin.com/in/tushar-6a4210193/" target="_blank">You can message me here</a>
<%- include("partials/footer"); -%>
